<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "PhotoApp" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "https://js.stripe.com/v2/" %>
    <%= javascript_pack_tag "application" %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">PhotoApp</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Link1", "/path1"  %></li>
            <li><%= link_to "Link2", "/path2"  %></li>
            <li><%= link_to "Link3", "/path3"  %></li>
          </ul>
          <ul class="nav navbar-right col-md-4">
            <% if current_user %>
              <li class="col-md-8 user-name">
                <%= link_to ('<i class="fa fa-user"></i> ' + truncate(current_user.email, length: 25)).html_safe, edit_user_registration_path, title: 'Edit Profile' %>
              </li>
              <li class="col-md-1"> </li>
              <li class="col-md-4 logout"><%= link_to('Logout', destroy_user_session_path, class: 'btn btn-xs btn-danger', title: 'Logout', :method => :delete) %></li>
            <% else %>
              <li class="col-md-4 pull-right">
                <%= link_to('Sign In', new_user_session_path, class: 'btn btn-primary', title: 'Sign In') %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <!--/span-->
      </div>
      <!--/row-->
      <footer>
        <p>&copy; Company 2023</p>
      </footer>
    </div>
    <!-- /container -->
  </body>
</html>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>
  $(document).on('ready turbolinks:load', function () {
    var show_error, stripeResponseHandler, submitHandler;

    submitHandler = function (event) {
      var $form = $(event.target);
      $form.find('input[type=submit]').prop('disabled', true);
      //If Stripe was initialized correctly this will create a token using the credit card info
      if (Stripe) {
        Stripe.card.createToken($form, stripeResponseHandler);
      } else {
        show_error('Failed to load credit card processing functionality. Please reload this page in your browser.');
      }
      return false;
    };

    $('.cc_form').on('submit', submitHandler);

    stripeResponseHandler = function (status, response) {
      var token, $form;
      $form = $('.cc_form');
      if (response.error) {
        console.log(response.error.message);
        show_error(response.error.message);
        $form.find('input[type=submit]').prop('disabled', false);
      } else {
        token = response.id;
        $form.append($('<input type="hidden" name="payment[token]" />').val(token));
        $('[data-stripe=number]').remove();
        $('[data-stripe=cvc]').remove();
        $('[data-stripe=exp-year]').remove();
        $('[data-stripe=exp-month]').remove();
        $('[data-stripe=label]').remove();
        $form.get(0).submit();
      }

      return false;
    };

    show_error = function (message) {
      if ($('#flash-messages').size() < 1) {
        $('div.container.main div:first').prepend("<div id='flash-messages'></div>");
      }

      $('#flash-messages').html(
        '<div class="alert alert-warning"><a class="close" data-dismiss="alert">×</a><div id="flash_alert">' +
          message +
          '</div></div>'
      );

      $('.alert').delay(5000).fadeOut(3000);

      return false;
    };
  });

  console.log('hello');
</script>
